aula 0/yt5s.io-Construindo a lib que usamos _ After NLW Setup - Trilha Explorer.mp4
aula 0/yt5s.io-NLW Setup _ Abertura oficial.mp4
aula 0/yt5s.io-NLW Setup _ Encerramento ao vivo.mp4

aula 01/Aula 01 -  Primeiros passos _ Trilha Explorer.mp4

aula 02/yt5s.io-Aula 02 - Descomplicando o código _ Trilha Explorer.mp4

aula 03/yt5s.io-Aula 03 - O poder do JavaScript _ Trilha Explorer.mp4

aula 04/yt5s.io-Aula 04 - Profissionalizando o projeto _ Trilha Explorer.mp4

aula 05/yt5s.io-Aula 05 - O próximo nível _ Trilha Explorer.mp4
